#grad{
    background-image:linear-gradient(#333,#334);
    height: 70vh;
}
.navbar{
    
    align-items: center;

    color: var(--white);
    display: flex;
    font-family: Exo Regular,Helvetica,sans-serif;
    left: 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    position: fixed;
    top: 0;
    text-decoration: none;
    
    transition: background-color .2s;
    width: 100%;
    /* z-index: 2; */
    
    background-color: rgb(82, 26, 26);
    
        /* height:100%;
        width:100%; */
}

.title{
    flex-grow: 1;
    font-size: 25px;
    margin:19px;
    margin-left:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    color:rgba(129, 196, 192, 0.993);
}
a{
    color:aqua; 
}
.container{
    /* display: flex;
    flex-direction: column; */
    color:aqua; 
    grid-gap: 1.25rem;
    display: flex;
    flex-direction:column;
    list-style: none;
    margin: 2.5rem auto;
    padding: 1.25rem 0;

}
li > h3 {
    margin-top:40px;
    font-weight: 40;
    font-family:Exo ExtraBold,Helvetica,sans-serif;

}
p{
    line-height: 1.6;
    
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        /* truncate to 4 lines */
        -webkit-line-clamp: 3;
      
}
time{
    margin: rem(10px) 0 rem(20px);
  display: block;
  font-size: 0.8rem;
  font-family: $heading-light;
}
.navbar a{
    margin-right:40px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}